{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Computers</title>
</head>

<body>

    <section id="computer-details">

        <div>Make: {{ computer.make }}</div>
        <div>Purchase date: {{ computer.purchase_date }}</div>
        <div>Registered by: {{ computer.employee.id}} {{ computer.employee.id }}</div>
    </section>

    <section id="computer-actions" style="display:flex;">
        {% comment %} <form action="{% url 'hrapp:computer' computer.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="actual_method" value="DELETE">
            <button>Delete</button>
        </form> {% endcomment %}

        {% comment %} <form action="{% url 'hrapp:computer_edit_form' computer.id %}" method="GET">
            {% csrf_token %}
            <button>Edit</button> {% endcomment %}
        </form>
    </section>

</body>

</html>