{% extends 'shared/base.html' %}

{% load staticfiles %}
<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Department</title>
  </head>

  <body>

      {% block content %}

    <section id="department-details">
        <h1>{{ department.name }}</h1>
        <h2> {{ department.budget }}</h2>

    <!-- <div>Published in {{ book.year_published }}</div>
    <div>ISBN: {{ book.isbn }}</div> -->
</section>

<section id="department-actions" style="display:flex;">
    <form action="{% url 'hrapp:departments' department.id %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="actual_method" value="DELETE">
        <button>Delete</button>
    </form>

    <form action="{% url 'hrapp:department' department.id %}" method="GET">
            {% csrf_token %}
            <button>Edit</button>
        </form>
    </section>
  {% endblock %}
  </body>
</html>