{% extends 'shared/base.html' %} {% load humanize %} {% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Department</title>
  </head>

  <body>
    {% block content %}

    <section id="department-details">
      <h4>Department Name: {{ department.name }}</h4>
      <p>Budget: ${{ department.budget | intcomma }}</p>
      {% if employees|length is not 0 %}
      <h3>Employee List</h3>
      {% endif %}

      <ol>
        {% for employee in department.employees %}

        <li>Employees: {{ employee.first_name }} {{ employee.last_name }}</li>

        {% endfor %}
      </ol>
    </section>

    <section id="department-actions" style="display:flex;">
      <form action="{% url 'hrapp:department' department.id %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="actual_method" value="DELETE" />
        <button>Delete</button>
      </form>

      <form
        action="{% url 'hrapp:department_edit_form' department.id %}"
        method="GET"
      >
        {% csrf_token %}
        <button>Edit</button>
      </form>
    </section>
    {% endblock %}
  </body>
</html>
