{% extends 'shared/base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bangazon</title>
  </head>
  <body>
  {% block content %}
    <h1>Employees:</h1>
    <a href="{% url 'hrapp:employee_form' %}">Hire an new employee</a>
    <ol>
    {% for employee in all_employees %}
        <li>
          <a href="{% url 'hrapp:employee' employee.id %}"> {{ employee.first_name }} {{ employee.last_name }}</a>
          <br></br>
          Department: {{employee.department.name}}
          <br></br>
        </li>
    {% endfor %}
    </ol>
    {% endblock %}
  </body>
</html>
